@font-face {
    font-family: 'Arian AMU';
    src: url('/res/fonts/ArianAMU/ArianAMU.woff2') format('woff2'),
        url('/res/fonts/ArianAMU/ArianAMU.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arian AMU';
    src: url('/res/fonts/ArianAMU/ArianAMU-Italic.woff2') format('woff2'),
        url('/res/fonts/ArianAMU/ArianAMU-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arian AMU';
    src: url('/res/fonts/ArianAMU/ArianAMU-Bold.woff2') format('woff2'),
        url('/res/fonts/ArianAMU/ArianAMU-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arian AMU';
    src: url('/res/fonts/ArianAMU/ArianAMU-BoldItalic.woff2') format('woff2'),
        url('/res/fonts/ArianAMU/ArianAMU-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

